aiocsv
aiofiles
aiohttp==3.9.5
aiosqlite
arabic_reshaper
beautifulsoup4
catbox-uploader
cloudscraper
colour
cowpy
DateTime
emoji==1.7.0
ffmpeg-python
Flask
flask_restful
geopy
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==3.1.0a0
gtts
gunicorn
hachoir
heroku3
html-telegraph-poster
httpx[http2]
humanize
img2html
instagrapi
ipaddress
jikanpy
justwatch
kvsqlite
lottie
lyricsgenius
markdown
motor
moviepy
nekos.py
neonize-bin
opentele
Pillow
prettytable
psutil
psycopg2
py-tgcalls==0.9.7
pyfiglet
PyGithub
pygments
pylast
pymediainfo
pyquery
pyrogram
pySmartDL
python-barcode
python-dotenv
pytz
qrcode
regex
requests
search-engine-parser
selenium
setuptools
spamwatch
speedtest-cli
sqlalchemy==1.3.23
sqlalchemy-json
telegraph
Telethon
telethon-session-sqlalchemy
tgcrypto
ujson
urlextract
user_agent
validators
vcsi
wand
wget
wheel
youtube-search
youtube-search-python==1.4.9
youtube_dl
yt-dlp
